pkgbase = kama-shell
	pkgdesc = Quickshell session running on niri
	pkgver = 0.1.0
	pkgrel = 1
	arch = any
	license = custom
	depends = layer-shell-qt
	depends = niri
	depends = quickshell-git
	depends = xwayland-satellite
	optdepends = mako: notification daemon
	optdepends = polkit-gnome: authentication agent
	optdepends = xdg-desktop-portal-gnome: portals for Flatpak / screencast

pkgname = kama-shell
